*_parse.c
*_parse.h
*_scan.c
/ar-lib
/config.h
/config.h.in
/config.log
/config.status
/src/lib/.deps/
/src/tools/.deps/
/src/tools/cuebreakpoints
/src/tools/cueconvert
/src/tools/cueprint
/ylwrap
Makefile
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
  
